.env
.idea/
.vscode/

data/cache/*
data/*/
data/*_store/
data/*/collection/
data/**/storage.sqlite
data/**/meta.json
data/**/.lock

# Ignora tutte le cartelle e file __pycache__
**/__pycache__/
*.pyc
*.DS_Store